.hero {
  display: grid;
  padding: 0 1.5rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2rem;
  max-width: 1366px;
  margin: 0 auto;
  height: calc(100vh - 62px);
  background-color: #131a35;
}

.hero__text {
  font-size: 1.75rem;
  /* font-weight: 600; */
  padding-top: 2rem;
  text-align: center;
  opacity: 0.8;
}

.hero__image {
  width: 100%;
  max-width: 400px;
  height: auto;
  justify-self: flex-start;
}

.hero__info {
  display: grid;
  justify-items: center;
  gap: 3rem;
}

.hero__icons {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
}

.twitter {
  font-size: 2.5rem;
}

.discord {
  font-size: 2.65rem;
}

.twitter:hover,
.discord:hover,
.coinmarketcap:hover,
.coingecko:hover {
  transform: scale(0.95);
}

@media screen and (max-width: 450px) {
  .hero__text {
    padding: 0;
    font-size: 1.25rem;
  }
  .hero__image {
    max-width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: auto;
    grid-auto-flow: row;
    gap: 0.5rem;
  }
  .hero__image {
    justify-self: center;
  }

  .hero__info {
    gap: 1rem;
    align-content: space-between;
    height: 100%;
  }

  .hero__image {
    width: 100%;
    max-width: 200px;
  }
}
